@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'halveticaLight';
    src: url('../assets/fonts/HelveticaNeueLight.otf') format('truetype');
}

@font-face {
    font-family: 'halveticaBold';
    src: url('../assets/fonts/HelveticaNeueBold.otf') format('truetype');
}

@font-face {
    font-family: 'halveticaMedium';
    src: url('../assets/fonts/HelveticaNeueMedium.otf') format('truetype');
}

@font-face {
    font-family: 'halveticaExtraLight';
    src: url('../assets/fonts/HelveticaNeueThin.otf') format('truetype');
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#menu-header-menu {
    display: flex;
    justify-content: end;

    li {
        margin-left: 2.5rem;
    }
}

.popup-form {
    width: 100%;
    display: flex;
    column-gap: 15px;
    margin-top: 23px;
}

.popup-form button {
    padding: 10px 25px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}

.popup-form input {
    width: 100%;
    border: 2px solid #e9eaf1;
    background-color: #f5f7fa;
    color: #a3a3a3;
    border-radius: 10px;
}

.popup-form button {
    cursor: pointer;
    background-color: #D93B58;
    border: 0px;
    color: #fff;
}

#menu-footer-menu {
    display: flex;
    justify-content: start;

    li {
        margin-right: 6rem;
    }
}

.hero_wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.heroHeading,
.news_heading,
.servicesContent_heading,
.specialist_heading,
.singleBenefits_heading,
.contetnImage_heading,
.contactPage_heading {
    font-size: 50px;
}

.heroSubheading {
    font-size: 20px;
}

.sectionHeading,
.faq_heading,
.servicesWhatWeDo_heading,
.singleService_heading,
.aboutUs_page_heading,
.ourCoumpany_page_heading,
.blogArchive_heading {
    font-size: 60px;
    line-height: 72.61px;
}

.sectionSubheading,
.benefitsRepeater_description {
    line-height: 21.78px;
}

.serviceCard_title {
    font-size: 28px;
}

.industrySpecializationsCard {
    background-image: url('../assets/images/gcatheme_inclusivity__background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
}

.industrySpecializationsCard::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(65, 64, 89, 0.9);
    border-radius: 25px;
}

.industries_listItem {
    border-bottom: 3px solid rgba(65, 64, 89, 1);
}

.industries_listItem:last-child {
    border-bottom: none; /* Remove border-bottom on the last item */
}

.industries_card__heading {
    font-size: 48px;
    line-height: 58.09px;
}

.industries_card__paragraph {
    font-size: 20px;
    line-height: 24.2px;
}

.aboutUs_preheading {
    font-size: 21px;
}

.aboutUs_heading {
    font-size: 60px;
    line-height: 72.61px;
}

.aboutUs_paragraph {
    font-size: 24px;
    line-height: 29.05px;
}

.aboutUs_thumbnail__wrapper img {
    border-radius: 20px;
}

.homepage_contact__upperWrapper {
    background-image: url('../assets/images/gcatheme_aboutus__background.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.homepage_contact__upperWrapper::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(65, 64, 89, 0.9);
}

// Contact Form
.contactPage_contactForm {
    background-color: #D93B58;
    max-width: 750px;
    border-radius: 20px;
    position: absolute; 
    top: -85%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 

    p {
        padding-bottom: 32px;
    }

    label {
        color: white;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 133.333% */

    }

    input, textarea, select {
        width: 100%;
        color: #4A4A4A;
        padding: 10px;
    }

    textarea, select {
        margin: 8px 0;
    }

    textarea {
        height: 150px;
        border-radius: 10px;
    }

    select {
        padding: 8px 8px;
        border-radius: 10px;
    }

    input {
        margin: 8px 0;
        border-radius: 10px;
    }

  }

.contactForm_grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0 20px;
}

.wpcf7-submit {
    background-color: #414059;
    color: white !important;
    width: 100px !important;
    border-radius: 5px;
}

.contactForm_heading {
    font-size: 50px;
}

.wpcf7-spinner {
    display: none;
}

.submitButton_wrapper {
    text-align: center;
}

//FAQ Accordion
.containerwidth {
    width: 100%;
}

.wrapper {
    padding: 10px 50px;
    margin-bottom: 20px;
}

.toggle {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    min-height: 105px;
}
/* Modify the CSS for the accordion content */
.content {
    width: 100%;
    position: relative;
    font-size: 14px;
    text-align: justify;
    line-height: 30px;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

/* Style for each FAQ item */
.faq-item {
    margin-bottom: 20px; /* Adjust spacing between FAQ items */
}

.servicesPage_heading {
    font-size: 60px;
    line-height: 72.61px;
}

.servicesFeatured_wrapper {
    img {
        border-radius: 20px;
    }
}

.servicesCard {
    border-radius: 20px;
    background-size: cover;
}

.services_servicesCard {
    background-size: cover;
    border-radius: 20px;
}

.singleService_hero__wrapper {
    background-image: url('../assets/images/gcatheme_aboutus__background.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.singleService_hero__wrapper::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(65, 64, 89, 0.9);
}

.singleService_heading {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 7%;
}

.singleService_thumb__wrapper img {
    margin-top: -12%;
    z-index: 20;
    border-radius: 20px;
}

.contactCard_links:hover {
    text-decoration: underline;
}

.singelService_contact__form {
    background-color: #414059;
    max-width: 736px;
    padding: 30px;
    border-radius: 20px;
    
    label {
        color: white;
        font-size: 20px;
        font-weight: 600;
    }

    p {
        color: white;
        padding: 8px 0;
        font-size: 20px;
        font-weight: 600;
    }

    input,
    select {
        width: 100%;
        border-radius: 10px;
        margin-top: 10px;
        color: black;
        padding: 0 10px;
        font-weight: 400;
        height: 32px;
    }

    textarea {
        width: 100%;
        height: 32px;
        border-radius: 10px;
        margin-top: 10px;
    }

    .wpcf7-submit {
        background-color: #D93B58;
        padding: 5px 10px;
    }

}

.truestedIndustries_title,
.ourMission_card__itemHeading {
    font-size: 30px;
}

// disabling header and footer on coming soon page
.page-id-166 {
    header {
        display: none;
    }
    
    footer {
        display: none;
    }
}

#comingSoon {
    background-image: url('../assets/images/gcatheme_inclusivity__background.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

#comingSoon:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(65, 64, 89, 0.9);
}

.comingSoon_heading {
    font-size: 60px;
}

.aboutUs_hero__upperSection,
.ourCompany_hero__upperSection {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contentImage_image__wrapper img {
    border-radius: 20px;
}

// Contact Page Contact Form
.contactPage_contact__form {
    background-color: #414059;
    max-width: 736px;
    padding: 30px;
    border-radius: 20px;
    
    label {
        color: white;
        font-size: 20px;
        font-weight: 600;
    }

    p {
        color: white;
        padding: 8px 0;
        font-size: 20px;
        font-weight: 600;
    }

    input,
    select {
        width: 100%;
        border-radius: 10px;
        margin-top: 10px;
        color: black;
        padding: 0 10px;
        font-weight: 400;
        height: 32px;
    }

    textarea {
        width: 100%;
        height: 32px;
        border-radius: 10px;
        margin-top: 10px;
    }

    .wpcf7-submit {
        background-color: #D93B58;
        padding: 5px 10px;
    }

}

.blogPost_wrapper {
    img {
        border-radius: 20px;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .1s ease-in-out;
        transition: .1s ease-in-out;
    }

    img:hover {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }
}

.blogPosts_article__heading:hover {
    text-decoration: underline;
}

.singleBlogPost_content__wrapper {
    h1, h2, h3, h4 {
        font-weight: 700;
        font-size: 30px;
        margin: 0.5rem 0;
    }

    p {
        font-weight: 300;
        font-size: 18px;
    }

    a {
        text-decoration: underline;
        font-weight: 500 !important;
    }

    a:hover {
        text-decoration: none;
    }
}

.projectsCard_wrapper {
    img {
        border-radius: 20px;
    }
}

.owl-prev {
    height: 40px;
    width: 40px;
}

.owl-prev::before {
    content: url(../assets/icons/leftCarousel.svg);
    transform: scale(0.6);
  }

.owl-prev span {
    display: none;
}


.owl-next {
    height: 40px;
    width: 40px;
    margin-left: 26px;

    span {
        display: none;
    }
}

.owl-next::before {
    content: url(../assets/icons/rightCarousel.svg);
    transform: scale(0.6);
  }

.owl-nav {
    display: flex;
    justify-content: end;
    margin-top: 1.5rem;
}

#menu-footer-useful-links {
    display: flex;
    flex-wrap: wrap;
    width: 300px;

    li {
        width: 50%;
    }
}


// mobile view
@media (max-width: 768px) {
    #menu-header-menu-1 {
        text-align: center;

        li {
            font-size: 28px;
            font-weight: 500;
            margin-bottom: 1.5rem;
        }
    }

    .aboutUs_thumbnail__wrapper {
        img {
            border-radius: 20px;
        }
    }

    .hero_wrapper {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

    .industries_card__heading {
        font-size: 42px;
        line-height: 42.09px;
    }

    .industries_card__paragraph {
        font-size: 18px;
    }

    .industrySpecializationsCard {
        border-radius: 0;
    }

    .industrySpecializationsCard::before {
        border-radius: 0;
    }

    .sectionHeading {
        font-size: 45px;
    }

    .aboutUs_heading,
    .servicesPage_heading,
    .aboutUs_page_heading,
    .ourCoumpany_page_heading,
    .contactPage_heading {
        font-size: 45px;
        line-height: 55.61px;
    }

    .aboutUs_paragraph {
        font-size: 18px;
    }

    .heroHeading {
        font-size: 45px;
        line-height: 50px;
    }
    
    .contactPage_contactForm {
        position: relative;
        top: -40%;
        height: 90vh;
    }

    .contactForm_heading {
        font-size: 30px;
    }

    .contactPage_contactForm p {
        padding-bottom: 10px;
    }

    .aboutUs_heading,
    .blogArchive_heading {
        font-size: 38px;
    }

    .faq_heading {
        font-size: 40px;
        line-height: 50px;
    }

    .wrapper {
        padding: 10px 20px;
    }

    #menu-footer-menu {
        justify-content: center;

        li {
            margin-right: 1rem;
        }
    }

    .popup-form input {
        width: 70%;
        border: 2px solid #e9eaf1;
        background-color: #f5f7fa;
        color: #a3a3a3;
        border-radius: 10px;
    }

    .toggle {
        min-height: 125px;
    }

    .servicesContent_heading,
    .servicesWhatWeDo_heading,
    .servicesContent_heading,
    .specialist_heading,
    .singleBenefits_heading,
    .singleService_contact__heading {
        font-size: 30px;
        line-height: 45px;
    }

    .contetnImage_heading {
        font-size: 35px;
        line-height: 50px;
    }

    .serviceCard_title {
        font-size: 22px;
    }

    .singleService_heading {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 7%;
    }

    .singelService_contact__form {
        p, label {
            font-size: 16px;
        }

    }

    .contactPage_contact__form {
        p, label {
            font-size: 16px;
        }
    }

    .custom-logo-link {
        img {
            scale: 0.84;
        }
    }

    .contactPage_contactForm {
        background-color: #D93B58;
        max-width: 750px;
        border-radius: 20px;
        position: absolute;
        top: -65% !important;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }



}

@media (max-width: 450px) {
    .contactPage_contactForm {
        background-color: #D93B58;
        max-width: 750px;
        border-radius: 20px;
        position: absolute;
        top: -45% !important;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .fontPage_contactForm__wrapper {
        height: 60vh !important;
    }
}

//tablet resolutions
@media (min-width: 850px) and (max-width: 1023px) {
    .contactPage_contactForm {
        background-color: #D93B58;
        max-width: 750px;
        border-radius: 20px;
        position: absolute;
        top: -35% !important;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .fontPage_contactForm__wrapper {
        height: 80vh !important;
    }

    #menu-footer-menu {
        display: flex;
        justify-content: center;

        li {
            margin-right: 20px;
            margin-left: 20px;
        }
    }



}

@media (min-width: 768px) and (max-width: 849px) {
    .contactPage_contactForm {
        background-color: #D93B58;
        max-width: 750px;
        border-radius: 20px;
        position: absolute;
        top: -35% !important;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #menu-footer-menu {
        display: flex;
        justify-content: center;

        li {
            margin-right: 20px;
            margin-left: 20px;
        }
    }

    .aboutUs_content__wrapper {
        margin-top: -50% !important;
    }
}

@media (min-width: 1024px) and (max-width: 1240px) {
    .servicesCard {
        width: 350px !important;
    }

    .contactPage_contactForm {
        background-color: #D93B58;
        max-width: 750px;
        border-radius: 20px;
        position: absolute;
        top: -55% !important;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .toggle {
        min-height: 140px;
    }

    .services_servicesCard {
        width: 500px !important;
    }

    .truestedIndustriesWrapper {
        width: 330px !important;
    }
}