@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'halveticaLight';
    src: url('../assets/fonts/HelveticaNeueLight.otf') format('truetype');
}

@font-face {
    font-family: 'halveticaBold';
    src: url('../assets/fonts/HelveticaNeueBold.otf') format('truetype');
}

#menu-header-menu {
    display: flex;
    justify-content: end;

    li {
        margin-left: 2.5rem;
    }
}

.popup-form {
    width: 100%;
    display: flex;
    column-gap: 15px;
    margin-top: 23px;
}

.popup-form button {
    padding: 10px 25px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}

.popup-form input {
    width: 60%;
    border: 2px solid #e9eaf1;
    background-color: #f5f7fa;
    color: #a3a3a3;
    border-radius: 10px;
}

.popup-form button {
    cursor: pointer;
    background-color: #D93B58;
    border: 0px;
    color: #fff;
}

#menu-footer-menu {
    display: flex;
    justify-content: start;

    li {
        margin-right: 6rem;
    }
}
